html, body{
  background: #FBFBFB;
  padding: 0;
  margin: 0;
}

.colors{

}

.color{
  display: block;
  box-sizing: border-box;  
  border-radius: 6px;
  background: white;
  box-shadow: 0 5px 15px 1px rgba(0,0,0,.15);
  overflow: hidden;
  width: 330px;
  margin: 40px auto;
  position: relative;
}

.color > *{
  transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.color:not(.expanded){
  cursor: pointer;
}

.color:not(.expanded):hover > *{
  transform: translateY(-140px)
}



.color-code{
  width: 330px;
  height: 210px;
}

h1{
  font-family: Manier;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 16px;
}

.color-recipe{
  padding: 16px 16px 0;
  box-sizing: border-box;
  width: 330px;
  position: absolute;
  border-top: 1px solid #ddd;
  font-family: AkkuratMonoMono;
}

.color-recipe::before{
  content: "Color Recipe";
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 12px;
  opacity: .5
}


.color-recipe span{
  display: inline-block;
  width: 34px;
  font-size: 18px;
  margin-right: 8px;
  margin-bottom: 16px;
  padding-left: 12px;
  line-height: 1;
  position: relative;
}

.color-recipe span:empty{
  display: none
}

.color-recipe span::before{
  content: "";
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 2px;
  width: .4em;
  height: .4em;
  box-shadow:inset 0 0 0 1px rgba(0,0,0,.15);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.color-recipe span::after{
  content: "%";
  font-size: .75em;
  opacity: .5;  
}

.color-recipe span.pink::before{
  background: #e998dc
}

.color-recipe span.yellow::before{
  background: #ffea00
}

.color-recipe span.blue::before{
  background: #00a8eb
}

.color-recipe span.red::before{
  background: #ff0000
}

.color-recipe span.black::before{
  background: #000
}

.color-recipe span.white::before{
  background: #fff
}

.color-recipe span.green::before{
  background: #00ac27
}



.expanded.color{
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    z-index: 999;
}

.expanded.color .color-recipe{
  position: relative
}


.show-overlay .overlay{
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  cursor: pointer;
}